.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100svh;
}

.app__header {
  padding: 48px 32px 32px;
  border-bottom: 1px solid var(--border);
}

@media (max-width: 1024px) {
  .app__header {
    padding: 32px 20px 24px;
  }
}

.app__header h1 {
  margin: 0 0 12px;
}

.app__subtitle {
  margin: 0;
  font-size: 16px;
  color: var(--text);
}

.app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__main .file-uploader {
  margin: 32px;
}

@media (max-width: 1024px) {
  .app__main .file-uploader {
    margin: 24px 20px;
  }
}
